*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(124, 118, 151);
    padding-top: 7rem;
}

section#jumbotron{
    display: flex;
    align-items: center;
    height: 50%;
    max-width: 1500px;
    margin: 0 auto;
    flex-direction: column;
}

#carousel{
    height: 80%;
    width: 100%;
    display: flex;
    position: relative;
}

#carousel button{
    border: none;
    position: absolute;
    z-index: 2;
    font-size: 3rem;
    background: none;
    right: 10px;
    color: #fff;
    opacity: 0.5;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

#carousel button:hover{
    opacity: 0.8;
}

.slide{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    opacity: 0;
    transition: all 0.33s ease-in;
}

.slide.active{
    opacity: 1;
}

#thumbnails{
    background-color: #000;
    height: 20%;
    width: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}

.thumbnail{
    width: calc(100% / 5);
    background-size: 150%;
    background-position-x: center;
    background-position-y: 35%;
    opacity: 0.7;
    border: 2px solid transparent;
    transition: all 0.33s ease-in;
}

.thumbnail.active{
    opacity: 1;
    border: 2px solid #fff;
}

#thumbnails button{
    border: none;
    position: absolute;
    height: 100%;
    font-size: 4rem;
    padding: 0 1rem;
    color: #fff;
    opacity: 0.3;
    transition: all 0.5s ease;
    cursor: pointer;
    z-index: 2;
}

#next_slide{
    right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);    
}

#prev_slide{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);    
}

#thumbnails:hover button{
    opacity: 0.8;
}